<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{LayoutPadrao}">
<head>
	<title>Consulta Título</title>
</head>

<section layout:fragment="conteudo">
	<div th:replace="mensagem/msgSucesso"></div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
	   			<h1 class="panel-title cobranca-titulo-panel">Consulta de título</h1>
	   			<a class="btn btn-link cobranca-link-panel" href="/titulos/novo">Novo título</a>
	   		</div>
	   	</div>

		<div class="panel-body">
			<form method="GET" class="form-horizontal" th:object="${filtro}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control" th:field="*{descricao}" placeholder="Qual título você procura?" autofocus="autofocus"/>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>Descrição</th>
						<th class="text-center col-md-2">Data Vencimento</th>
						<th class="text-right col-md-2">Valor</th>
						<th class="text-center col-md-2">Status</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="titulo : ${listaTitulos}">
	   					<td class="text-center" th:text="${titulo.id}"></td>
	   					<td th:text="${titulo.descricao}"></td>
	   					<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
	   					<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
	   					<td class="text-center" th:attr="data-idstatus=${titulo.id}">
	   						<span class="label" th:text="${titulo.status.descricao}" 
	   							th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}"></span>
	   					</td>
	   					<td class="text-center">
	   						<a class="btn btn-link btn-xs" th:href="@{/titulos/{idParam}(idParam=${titulo.id})}" 
	   							role="button" title="Editar" rel="tooltip" data-placement="top">
	   							<span class="glyphicon glyphicon-pencil"></span> 
	   						</a>
	   						<a class="btn btn-link btn-xs" href="#" data-toggle="modal" 
	   							data-target="#idDlgConfirmaExclusao" th:attr="data-idtitulo=${titulo.id}, data-descricao=${titulo.descricao}"
	   							title="Excluir" rel="tooltip" data-placement="top">
					          <span class="glyphicon glyphicon-trash"></span>
					        </a>
					        <a class="btn btn-link btn-xs js-atualizaStatus" href="#" th:if="${titulo.pendente}" 
					        	title="Receber" rel="tooltip" data-placement="top"
					        	th:href="@{/titulos/{idParam}/receber(idParam=${titulo.id})}"
					        	th:attr="data-idtitulo=${titulo.id}">
					        	<span class="glyphicon glyphicon-check"></span>
					        </a>
	   					</td>
	   				</tr>			
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(listaTitulos)}">Nenhum título foi encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div layout:replace="modal/dlgTituloExclusao"></div>
	</div>
</section>
</html>