<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	<title>Sistema de Cobrança de Título</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/datepicker.standalone.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
</head>
<body>

	<!-- HEADER -->
	<header th:replace="cabecalho"></header>
	
	<!-- CONTEUDO -->
	<section layout:fragment="conteudo"></section>
	
	
	<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/datepicker-min.js}"></script>
	<script th:src="@{/js/datepicker.pt-BR.min.js}"></script>
	<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/js/cobranca-js.js}"></script>
</body>
</html>